@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

@keyframes moveDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menuDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-moveDown {
  animation: moveDown 1s ease-out;
}
.animate-menuDown {
  animation: menuDown 1s ease-out;
}

@keyframes TurnOff_on {
  2% {
    color: transparent;
  }
  100% {
    color: #f3e8ff;
  }
}

.animate-TurnOff_on {
  animation: TurnOff_on 2s infinite;
}

.half-circle {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.custom-divider {
  width: 800%;
}

.directon-ltr {
  direction: ltr;
}
.directon-rtl {
  direction: rtl;
}
.centerter {
  text-align: -webkit-center;
}

.animated-bg {
  background: linear-gradient(
    to right,
    #d8b4fe,
    #c084fc,
    #a855f7,
    #a855f7,
    #9333ea
  );
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: bold;
  text-align: center;
}

.animated-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 200%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.1);
  animation: lightMove 3s infinite;
}

@keyframes lightMove {
  0% {
    right: -200%;
  }
  100% {
    right: 100%;
  }
}

@keyframes tiltAnimation {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(-30deg) rotateY(0deg); /* بالا بردن گوشه سمت راست */
  }
  50% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  75% {
    transform: rotateX(0deg) rotateY(-30deg); /* بالا بردن گوشه سمت چپ */
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

.animated-bg {
  animation: tiltAnimation 4s infinite; /* می‌توانید مدت زمان و نوع تکرار را تغییر دهید */
  display: inline-block;
  transition: transform 0.3s ease;
}
